{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Modification du mot de passe{% endblock %}

{% block content %}


    <div class="container text-center">
        <div class="text-info border border-2 border-dark-subtle rounded-3 bg-light m-4 p-2 shadow">
            <h2>Changement du mot de passe</h2>
                <hr>

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Envoyer" class="fw-bold btn btn-outline-info border-2">
                    </form>
        </div>
    </div>

{% endblock %}