{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset pswd done{% endblock %}



{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center text-info border border-2 border-dark-subtle rounded-3 bg-light mt-4 p-2 shadow">
        <h2 class="text-center">Votre demande de reset de mot de passe</h2>
        <hr>
        <h3 class="text-center text-success">Un mail contenant un lien pour réinitialiser votre mot de passe vous a été adressé.</h3>
    </div>
</div>


{% endblock %}