{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset pswd done{% endblock %}

{% block content %}

<div class="container mb-5">
    <div class="row justify-content-center text-info border border-2 border-dark-subtle rounded-3 bg-light m-4 p-2 shadow">
        <h2 class="text-center">Votre demande de reset de mot de passe</h2>
        <hr>
        <h3 class="text-center text-success">Votre mot de passe a été modifié avec succès.</h3>
    </div>

    <div class="text-info text-center border border-2 border-warning-subtle rounded-3 bg-light m-4 p-3 shadow">
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Je me connecte</a>
    </div>

</div>

{% endblock %}