{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset pswd{% endblock %}

{% block content %}


<div class="container mb-5">

    <div class="row justify-content-center text-info border border-2 border-dark-subtle rounded-3 bg-light mt-4 p-2 shadow">

        <h2 class="text-center">Demande de reset de mon mot de passe</h2>
        <hr>

        <div class="col-4 text-center">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Envoyer" class="fw-bold btn btn-outline-info border-2">
            </form>

        </div>
    </div>

</div>
{% endblock %}