{% extends 'base.html' %}

{% block content %}

<div class="container text-center">

    <div class="text-info border border-2 border-dark-subtle rounded-3 bg-light m-4 p-2 shadow">
            <h2>Dashboard Vente</h2>
        </div>
        <br>

    <table class="table table-hover m-4">
        <thead>
            <tr>
                <th>Événement</th>
                <th>Offre</th>
                <th>Nombre de billets vendus</th>

            </tr>
        </thead>
        <tbody>
            {% for event_data in event_sales_data %}
                {% for offer in event_data.offers %}
                    <tr>
                        <td>{{ event_data.event.eventName }}</td>

                        {% if offer.offer == 1 %}
                            <td>Solo</td>
                        {% elif offer.offer == 2 %}
                            <td>Duo</td>
                        {% elif offer.offer == 4 %}
                            <td>Familiale</td>
                        {% endif %}

                        <td>{{ offer.total }}</td>

                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <div class="text-info border border-2 border-danger-subtle rounded-3 bg-light m-5 p-2 shadow">
        <h2>Génération d'un rapport de ventes par offre</h2>
        <hr>
        <a href="{% url 'generate_sales_pdf' %}" class="fw-bold btn btn-outline-info border-2" target="_blank">Génération du rapport</a>
    </div>



</div>

{% endblock %}
