

<div class="col">
    <div class="card text-center border border-danger-subtle">
        <div class="card-header fw-bold text-info text-uppercase">{{ address.name }}
            {% if address.default and addresses.count > 1 %}
            <span class="text-primary fw-normal text-lowercase">(Adresse par défaut)</span>
            {% endif %}

        </div>
        <div class="card-body">

            <p class="card-text p-1">{{ address.address_1|title }}</p>
            {% if address.address_2 %}
                <p class="card-text">{{ address.address_2 }}</p>
            {% endif %}
            <p class="card-text">{{ address.zip_code }} - {{ address.city }}</p>

            {% comment %} Pas de () pour les méthodes utilisées dans les templates sinon erreur{% endcomment %}
            <p class="card-text">{{ address.get_country_display|upper }}</p>

            {% if not address.default %}
              <a href="{% url 'set-default-shipping' address.pk %}" class="fw-bold btn btn-outline-info border-2">Définir par défaut</a>
            {% endif %}

            {% if addresses.count > 1 %}
            <a href="{% url 'delete-address' address.pk %}" class="fw-bold btn btn-outline-info border-2">Supprimer l'adresse</a>
            {% endif %}

        </div>
    </div>
</div>



