{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Connexion
{% endblock %}

{% block content %}

    <div class="container text-center">

        <div class="text-info border border-2 border-dark-subtle rounded-3 bg-light mt-4 p-2 shadow">
            <h2>Page de connexion</h2>
        </div>

        <div class="text-info fw-bold border border-2 border-danger-subtle rounded-3 bg-light my-4 p-4 shadow">

            <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% comment %} Vérification de l'existence des messages {% endcomment %}
                    {% if messages %}
                           <ul>
                               {% comment %} On boucle sur chaque message de la liste {% endcomment %}
                               {% for message in messages %}
                                    {% comment %} Affichage de chaque message dans une li {% endcomment %}
                                    <li>{{ message }}</li>
                               {% endfor %}
                           </ul>
                    {% endif %}
                    <button type="submit" class="fw-bold btn btn-outline-info border-2">Connexion</button>
            </form>
        </div>

        <div class="row row-cols-1 row-cols-md-3 text-info border border-2 border-warning-subtle rounded-3 bg-light mb-4 pt-3 shadow">
            <p class="text-primary">(Pas encore inscrit ?)
                <a href="{% url 'signup' %}" class="btn btn-outline-primary">Créer un compte</a></p>

            <p class="text-primary">(Oubli du mot de passe ?)
                <a href="{% url 'reset' %}" class="btn btn-outline-primary">Reset mon mot de passe</a></p>

            <p class="text-primary">
                <a href="{% url 'index-event-mgmt' %}" class="btn btn-outline-primary">Retour aux événements</a></p>
        </div>

    </div>

{% endblock %}