{% extends 'base.html' %}

{% block title %}
C.G.V.
{% endblock %}

{% block content %}

    <div class="container">

        <div class="text-info border border-2 border-dark-subtle rounded-3 bg-light mt-4 p-2 shadow">
            <h3 class="text-center">Conditions générales de vente de prestations de services en ligne à des consommateurs
            particuliers</h3>
        </div>

            <h4 class="text-center mt-5 mb-3">Préambule</h4>
            <p>Les présentes conditions générales de vente s'appliquent à toutes les prestations de services conclues
                sur le site Internet Étude OGS.</p>
            <p>Le site Internet Etude OGS est un service de:</p>
            <ul>
                <li>la société Etude OGS située à 2 rue de la fierté 75000 PARIS</li>
                <li>adresse URL du site: <a href="http://www.OGStudi.fr" class="link-primary">www.OGStudi.fr</a></li>
                <li>adresse mail: <a href="mailto:steve.paris2024@gmail.com"
                                     class="link-primary">steve.paris2024@gmail.com</a></li>
                <li>téléphone :</li>
            </ul>
            <p>Le client déclare avoir pris connaissance et avoir accepté les conditions générales de vente
                antérieurement à la passation de la commande. La validation de la commande vaut donc acceptation des
                conditions générales de vente.</p>

            <h4 class="text-center mt-5 mb-3">Article 1 - Contenu et champ d'application</h4>
            <p>Les présentes conditions générales de vente s'appliquent de plein droit aux prestations de services
                suivantes :</p>
            <ul>
                <li>Vente de billets électroniques pour des événements sportifs</li>
            </ul>
            <p>Elles s'appliquent à l'exclusion de toutes autres conditions, et notamment celles applicables pour les
                ventes sur internet ou au moyen d'autres circuits de distribution et de commercialisation.</p>
            <p>La vente est réputée conclue à la date d'acceptation de la commande ou à l'achat immédiat par le
                vendeur.</p>
            <p>Toute commande ou achat immédiat implique l'adhésion sans réserve aux présentes conditions générales de
                vente qui prévalent sur toutes autres conditions, à l'exception de celles qui ont été acceptées
                expressément par le vendeur.</p>
            <p>L'acheteur déclare avoir pris connaissance des présentes conditions générales de vente et les avoir
                acceptées avant son achat immédiat ou la passation de sa commande.</p>

        <h4 class="text-center mt-5 mb-3">Article 2 - Informations précontractuelles</h4>
        <p>Préalablement à l'achat immédiat ou à la passation de la commande et à la conclusion du contrat, ces
            conditions générales de vente sont communiquées à l'acheteur, qui reconnaît les avoir reçues.</p>
        <p>Sont transmises à l'acheteur, de manière claire et compréhensible, les informations suivantes :</p>
        <ul>
            <li>les caractéristiques essentielles du service;</li>
            <li>le prix du service ou le mode de calcul du prix et, s'il y a lieu, tous les frais supplémentaires de
                transport, de livraison ou d'affranchissement et tous les autres frais éventuels:</li>
            <li>la date ou le délai auquel le prestataire s'engage à exécuter le service, quel que soit son prix, et
                toute autre condition contractuelle:</li>
            <li>les informations relatives à l'identité du prestataire, à ses coordonnées postales, téléphoniques et
                électroniques, et à ses activités ;</li>
            <li>les modalités prévues pour le traitement des réclamations;</li>
            <li>la durée du contrat, lorsqu'il est conclu à durée déterminée, ou les conditions de sa résiliation en
                cas de contrat à durée indéterminée;</li>
        </ul>
        <p>En ce qui concerne le contenu numérique toute interoperabilité pertinente de ce contenu avec certains
            matériels ou logiciels dont le professionnel a ou devrait raisonnablement avoir connaissance.</p>
        <p>Le prestataire de services doit également communiquer à l'acheteur, ou mettre à sa disposition, les
            informations suivantes :</p>
        <ul>
            <li>Statut et forme juridique, coordonnées permettant d'entrer en contact rapidement et de communiquer
                directement avec lui</li>
            <li>le cas échéant, le numéro d'inscription au registre du commerce et des sociétés ou au répertoire des
                métiers</li>
            <li>pour les activités soumises à un régime d'autorisation, le nom et l'adresse de l'autorité l'ayant
                délivrée</li>
            <li>pour le prestataire assujetti à la taxe sur la valeur ajoutée et identifié par un numéro individuel en
                application de l'article 286 ter du code général des impôts, son numéro individuel d'identification</li>
            <li>pour le prestataire membre d'une profession réglementée, son titre professionnel, l'État membre de
                l'UE dans lequel il a été octroyé ainsi que le nom de l'ordre ou de l'organisme professionnel auprès
                duquel il est inscrit</li>
            <li>l'éventuelle garantie financière ou assurance de responsabilité professionnelle souscrite par lui, les
                coordonnées de l'assureur ou du garant ainsi que la couverture géographique du contrat ou de
                l'engagement</li>
        </ul>

        <h4 class="text-center mt-5 mb-3">Article 3-Commande</h4>
        <p>Par commande, il faut entendre tout ordre portant sur les prestations figurant sur les tarifs du vendeur,
            et accepté par lui, accompagné du paiement de l'acompte éventuellement prévu sur le bon de commande.</p>
        <p>Toute commande, pour être valable, doit être établie sur les bons de commande du vendeur, à la disposition
            de la clientèle dans ses magasins. Toute commande parvenue au vendeur est réputée ferme et définitive.</p>
        <p>Elle entraîne adhésion et acceptation pleine et entière des présentes conditions générales de vente et
            obligation de paiement des produits commandés.</p>
        <p>L'acheteur dispose d'un droit de rétractation de 14 jours à compter de la conclusion du contrat, sauf
            exception prévue par l'article L.211-28 du Code de la consommation.</p>

        <h4 class="text-center mt-5 mb-3">Article 4-Devis</h4>
        <p>Pour les services donnant lieu à l'établissement d'un devis préalable, la vente ne sera considérée comme
            définitive qu'après établissement d'un devis par le prestataire et envoi à l'acheteur de la confirmation
            de l'acceptation de la commande.</p>

        <h4 class="text-center mt-5 mb-3">Article 5 - Exécution de la prestation et résolution du contrat</h4>
        <p>L'envoi des billets électroniques immédiat à compter de la réception par le vendeur d'une commande en bonne
            et due forme.</p>
        <p>En cas de manquement du vendeur à son obligation d'exécution à la date ou à l'expiration du délai prévu
            ci-dessus, ou, à défaut, au plus tard 30 jours après la conclusion du contrat, l'acheteur peut résoudre le
            contrat, dans les conditions des articles L. 216-2 et L. 216-3 et L. 216-4 du code de la consommation, par
            lettre recommandée avec demande d'avis de réception ou par un écrit sur un autre support durable, si, après
            avoir enjoint, selon les mêmes modalités, le professionnel de fournir le service dans un délai
            supplémentaire raisonnable, ce dernier ne s'est pas exécuté dans ce dėlai.</p>
        <p>Le contrat est considéré comme résolu à la réception par le professionnel de la lettre ou de l'écrit
            l'informant de cette résolution, à moins que le professionnel ne se soit exécuté entre-temps.</p>
        <p>Néanmoins, l'acheteur peut immédiatement résoudre le contrat lorsque le professionnel refuse de fournir
            le service ou lorsqu'il n'exécute pas son obligation de fourniture du service à la date prévue, si cette
            date ou ce délai constitue pour l'acheteur une condition essentielle du contrat.</p>
        <p>Cette condition essentielle résulte des circonstances qui entourent la conclusion du contrat ou d'une
            demande expresse du consommateur avant la conclusion du contrat.</p>
        <p>Les frais et les risques liés à cette opération sont à la charge exclusive du prestataire. Hormis cas de
            force majeure, l'acompte versé à la commande est acquis de plein droit et ne peut donner lieu à aucun
            remboursement.</p>

        <h4 class="text-center mt-5 mb-3">Article 6-Délai de rétractation et remboursement</h4>
        <p>L'acheteur dispose d'un droit de rétractation de 14 jours à compter de la conclusion du contrat.</p>
        <p>Le professionnel doit rembourser l'acheteur de la totalité des sommes versées, au plus tard dans les 14 jours
            à compter de la date à laquelle il est informé de la décision de l'acheteur de se rétracter
            (C. consom., art. L. 221-24), sauf retard justifié.</p>
        <p>Conformément à l'article L. 242-4 du code de la consommation, lorsque le professionnel n'a pas remboursé
            les sommes versées par l'acheteur, les sommes dues sont de plein droit majorées</p>
        <ul>
            <li>du taux d'intérêt légal si le remboursement intervient au plus tard 10 jours après l'expiration du
                délai de 14 jours énoncé ci-dessus,</li>
            <li>de 5% si le retard est compris entre 10 et 20 jours,</li>
            <li>de 10% si le retard est compris entre 20 et 30 jours,</li>
            <li>de 20% si le retard est compris entre 30 et 60 jours,</li>
            <li>de 50% entre 60 et 90 jours,</li>
            <li>et de cinq points supplémentaires par nouveau mois de retard jusqu'à concurrence du prix du produit,
                puis du taux d'intérêt légal.</li>
        </ul>
        <p>Annulation de la commande après le délai de rétractation.</p>
        <p>Après le délai de rétractation de 14 jours, en cas d'annulation de la commande par l'acheteur, après
            acceptation du vendeur, pour quelque raison que ce soit hormis la force majeure, une somme correspondant
            à 75% du montant de l'achat sera acquise au vendeur, à titre de dommages et intérêts, en réparation du
            préjudice ainsi subi.</p>

        <h4 class="text-center mt-5 mb-3">Article 7 - Prix</h4>
        <p>Les prix sont fermes et définitifs.</p>
        <p>Sauf conditions particulières expresses propres à la vente, les prix des prestations effectuées sont ceux
            figurant dans le catalogue des prix au jour de la commande.</p>
        <p>Les paiements effectués par l'acheteur ne seront considérés comme définitifs qu'après encaissement effectif
            des sommes dues par le prestataire. Une facture sera remise à l'acheteur sur simple demande.</p>

        <h4 class="text-center mt-5 mb-3">Article 8 - Paiement</h4>

        <p>Sauf autres modalités prévues expressément par les conditions particulières, le paiement du prix s'effectue
            comptant à la commande.</p>
        <p>Aucune commande ne pourra être prise en compte à défaut d'un complet paiement à cette date.</p>
        <p>Les paiements effectués par l'acheteur ne seront considérés comme définitifs qu'après encaissement effectif
            des sommes dues par le prestataire.</p>
        <p>Une facture sera remise à l'acheteur sur simple demande.</p>

        <h4 class="text-center mt-5 mb-3">Article 9 - Garanties - Généralités</h4>
        <h5>9-1 Garantie légale de conformité</h5>
        <p>Étude OGS est garant de la conformité du bien vendu au contrat, permettant à l'acheteur de formuler une
            demande au titre de la garantie légale de conformité prévue aux articles L. 217-3 et suivants du code de la
            consommation.</p>
        <p>En cas de mise en oeuvre de la garantie légale de conformité, il est rappelé que:</p>
        <ul>
            <li>l'acheteur bénéficie d'un délai de 2 ans à compter de la délivrance du bien pour agir:</li>
            <li>l'acheteur peut choisir entre la réparation ou le remplacement du bien, sous réserve des conditions
                de coût prévues par l'article L. 217-17 du code de la consommation;</li>
            <li>l'acheteur n'a pas à apporter la preuve de la non-conformité du bien durant les 24 mois en cas de biens
                neufs (12 mois en cas de biens d'occasion), suivant la délivrance du bien.</li>
        </ul>

        <h5>9-2 Garantie légales des vices cachés</h5>
        <p>Conformément aux articles 1641 et suivants du code civil, Étude OGS est garant des vices cachés pouvant
            affecter le bien vendu.</p>
        <p>Il appartiendra à l'acheteur de prouver que les vices existaient à la vente du bien et sont de nature à
            rendre le bien impropre à l'usage auquel il est destiné.</p>
        <p>Cette garantie doit être mise en oeuvre dans un délai de deux ans à compter de la découverte du vice.</p>
        <p>L'acheteur peut choisir entre la résolution de la vente ou une réduction du prix conformément à l'article
            1644 du code civil.</p>

        <h4 class="text-center mt-5 mb-3">Article 10 - Propriété intellectuelle</h4>

        <p>Tous les documents techniques, produits, dessins, photographies remis aux acheteurs demeurent la propriété
            exclusive de Étude OGS, seul titulaire des droits de propriété intellectuelle sur ces documents, et doivent
            lui être rendus à sa demande.</p>
        <p>Les acheteurs clients s'engagent à ne faire aucun usage de ces documents, susceptible de porter atteinte
            aux droits de propriété industrielle ou intellectuelle du fournisseur et s'engagent à ne les divulguer à
            aucun tiers.</p>

        <h4 class="text-center mt-5 mb-3">Article 11 - Juridiction compétente</h4>

        <p>Tous les litiges auxquels les opérations d'achat et de vente conclues en application des présentes
            conditions générales de vente pourraient donner lieu, concernant tant leur validité, leur interprétation,
            leur exécution, leur résiliation, leurs conséquences et leurs suites et qui n'auraient pas pu être résolus
            à l'amiable entre le vendeur et le client, seront soumis aux tribunaux compétents dans les conditions de
            droit commun.</p>
        <p>Pour la définition de la juridiction compétente, le vendeur élit domicile à 2 rue de la fierte
            75000 PARIS.</p>


        <h4 class="text-center mt-5 mb-3">Article 12 - Langue du contrat</h4>

        <p>Les présentes conditions générales de vente sont rédigées en langue française.</p>
        <p>Dans le cas où elles seraient traduites en une ou plusieurs langues étrangères, seul le texte français
            ferait foi en cas de litige.</p>

        <h4 class="text-center mt-5 mb-3">Article 13 - Médiation et règlement des litiges</h4>

        <p>L'acheteur peut recourir à une médiation conventionnelle, notamment auprès de la Commission de la médiation
            de la consommation ou auprès des instances de médiation sectorielles existantes, ou à tout mode alternatif
            de règlement des différends (conciliation, par exemple) en cas de contestation.</p>
        <p>En cas de contestation, les coordonnées du médiateur auquel l'acheteur peut s'adresser sont les suivantes:</p>
        <ul>
            <li>Conformément à l'article 14 du Règlement (UE) n°524/2013, la Commission Européenne a mis en place une
                plateforme de Règlement en Ligne des Litiges, facilitant le règlement indépendant par voie
                extrajudiciaire des litiges en ligne entre consommateurs et professionnels de l'Union européenne.</li>
            <li>Cette plateforme est accessible au lien suivant: https://webgate.ec.europa.eu/odr/.</li>
        </ul>

        <h4 class="text-center mt-5 mb-3">Article 14 - Loi applicable</h4>

        <p>Les présentes conditions générales sont soumises à l'application du droit français.</p>
        <p>Il en est ainsi pour les règles de fond comme pour les règles de forme.</p>
        <p>En cas de litige ou de réclamation, l'acheteur s'adressera en priorité au vendeur pour obtenir une
            solution amiable.</p>

        <h4 class="text-center mt-5 mb-3">Article 15 - Protection des données personnelles</h4>

        <h5>Données collectées :</h5>

        <ul>
            <li>Les données à caractère personnel qui sont collectées sur ce site sont les suivantes :
                <ul>
                    <li>ouverture de compte: lors de la création du compte de l'utilisateur, ses nom; prénom;
                        adresse électronique; adresse postale;</li>
                    <li>connexion: lors de la connexion de l'utilisateur au site web, celui-ci enregistre, notamment,
                        ses nom, prénom, données de connexion, d'utilisation, de localisation et ses données relatives
                        au paiement;</li>
                    <li>profil: l'utilisation des prestations prévues sur le site web permet de renseigner un profil,
                        pouvant comprendre une adresse et un numéro de téléphone:</li>
                </ul>
            </li>
            <li>paiement:
                <ul>
                    <li>dans le cadre du paiement des produits et prestations proposés sur le site web, celui-ci
                enregistre des données financières relatives au compte bancaire ou à la carte de crédit de
                l'utilisateur;</li>
                </ul>
            </li>
            <li>communication:
                <ul>
                    <li>lorsque le site web est utilisé pour communiquer avec d'autres membres, les données concernant
                        les communications de l'utilisateur font l'objet d'une conservation temporaire;</li>
                </ul>
            </li>
            <li>cookies:
                <ul>
                    <li>les cookies sont utilisés, dans le cadre de l'utilisation du site. L'utilisateur a la
                        possibilité de désactiver les cookies à partir des paramètres de son navigateur.</li>
                </ul>
            </li>
        </ul>
        <br>
        <h5>Utilisation des données personnelles</h5>
        <p>Les données personnelles collectées auprès des utilisateurs ont pour objectif la mise à disposition des
            services du site web, leur amélioration et le maintien d'un environnement sécurisé. Plus précisément, les
            utilisations sont les suivantes :</p>
        <ul>
            <li>accès et utilisation du site web par l'utilisateur</li>
            <li>gestion du fonctionnement et optimisation du site web</li>
            <li>organisation des conditions d'utilisation des Services de paiement</li>
            <li>vérification, identification et authentification des données transmises par l'utilisateur</li>
            <li>proposition à l'utilisateur de la possibilité de communiquer avec d'autres utilisateurs du site web</li>
            <li>mise en oeuvre d'une assistance utilisateurs</li>
            <li>personnalisation des services en affichant des publicités en fonction de l'historique de navigation
                de l'utilisateur, selon ses préférences</li>
            <li>prévention et détection des fraudes, malwares (malicious softwares ou logiciels malveillants) et
                gestion des incidents de sécurité</li>
            <li>gestion des éventuels litiges avec les utilisateurs</li>
            <li>envoi d'informations commerciales et publicitaires, en fonction des préférences de l'utilisateur</li>
        </ul>

        <h5>Partage des données personnelles avec des tiers</h5>
        <p>Les données personnelles peuvent être partagées avec des sociétés tierces, dans les cas suivants :</p>
        <ul>
            <li>quand l'utilisateur utilise les services de paiement, pour la mise en oeuvre de ces services, le site
                web est en relation avec des sociétés bancaires et financières tierces avec lesquelles elle a passé des
                contrats</li>
            <li>lorsque l'utilisateur publie, dans les zones de commentaires libres du site web, des informations
                accessibles au public</li>
            <li>quand l'utilisateur autorise le site web d'un tiers à accéder à ses données</li>
            <li>quand le site web recourt aux services de prestataires pour fournir l'assistance utilisateurs, la
                publicité et les services de paiement. Ces prestataires disposent d'un accès limité aux données de
                l'utilisateur, dans le cadre de l'exécution de ces prestations, et ont une obligation contractuelle de
                les utiliser en conformité avec les dispositions de la réglementation applicable en matière protection
                des données à caractère personnel</li>
        </ul>
        <p>si la loi l'exige, le site web peut effectuer la transmission de données pour donner suite aux réclamations
            présentées contre le site web et se conformer aux procédures administratives et judiciaires</p>
        <p>si le site web est impliquée dans une opération de fusion, acquisition, cession d'actifs ou procédure de
            redressement judiciaire, elle pourra être amenée à céder ou partager tout ou partie de ses actifs, y
            compris les données à caractère personnel. Dans ce cas, les utilisateurs seraient informés, avant que les
            données à caractère personnel ne soient transférées à une tierce partie.</p>

        <h4 class="text-center mt-5 mb-3">Article 16 - Sécurité et confidentialité</h4>

        <p>Le site web met en oeuvre des mesures organisationnelles, techniques, logicielles et physiques en matière
            de sécurité du numérique pour protéger les données personnelles contre les altérations, destructions et
            accès non autorisés.</p>
        <p>Toutefois, il est à signaler qu'internet n'est pas un environnement complètement sécurisé et le site web ne
            peut pas garantir la sécurité de la transmission ou du stockage des informations sur internet.</p>
        <p></p>
        <p></p>

        <h4 class="text-center mt-5 mb-3">Article 17 - Mise en oeuvre des droits des utilisateurs</h4>

        <p>En application de la réglementation applicable aux données à caractère personnel, les utilisateurs
            disposent des droits ci-dessous mentionnés, qu'ils peuvent exercer en faisant leur demande à l'adresse
            suivante: steve.paris2024@gmail.com :</p>
        <ul>
            <li>Le droit d'accès: ils peuvent exercer leur droit d'accès, pour connaître les données personnelles les
                concernant. Dans ce cas, avant la mise en œuvre de ce droit, le site web peut demander une preuve de
                l'identité de l'utilisateur afin d'en vérifier l'exactitude.</li>
            <li>Le droit de rectification: si les données à caractère personnel détenues par le site web sont inexactes,
                ils peuvent demander la mise à jour des informations.</li>
            <li>Le droit de suppression des données les utilisateurs peuvent demander la suppression de leurs données à
                caractère personnel, conformément aux lois applicables en matière de protection des données.</li>
            <li>Le droit à la limitation du traitement les utilisateurs peuvent de demander au site web de limiter le
                traitement des données personnelles conformément aux hypothèses prévues par le RGPD.</li>
            <li>Le droit de s'opposer au traitement des données les utilisateurs peuvent s'opposer à ce que ses données
                soient traitées conformément aux hypothèses prévues par le RGPD.</li>
            <li>Le droit à la portabilité: ils peuvent réclamer que le site web leur remette les données personnelles qui
                lui sont fournies pour les transmettre à un nouveau site web.</li>
        </ul>

        <h4 class="text-center mt-5 mb-3">Article 18 - Évolution de la présente clause</h4>

        <p>Le site web se réserve le droit d'apporter toute modification à la présente clause relative à la protection
            des données à caractère personnel à tout moment.</p>
        <p>Si une modification est apportée à la présente clause de protection des données à caractère personnel,
            le site web s'engage à publier la nouvelle version sur son site.</p>
        <p>Le site web informera également les utilisateurs de la modification par messagerie électronique, dans un
            délai minimum de 15 jours avant la date d'effet.</p>
        <p>Si l'utilisateur n'est pas d'accord avec les termes de la nouvelle rédaction de la clause de protection des
             données à caractère personnel, il a la possibilité de supprimer son compte.</p>

        <h4 class="text-center mt-5 mb-3">Annexe</h4>
        <p class="text-center">Formulaire de rétractation</p>
        <p>(à compléter par le consommateur, et à envoyer par lettre recommandée avec accusé de réception, dans le
            délai maximum de 14 jours suivant la date de conclusion du contrat de prestation)</p>
        <br>
        <p class="fw-bold">Formulaire de rétractation</p>
        <p>A l'attention de:</p>
        <p>Étude OGS</p>
        <p>situé à 2 rue de la fierte 75000 PARIS</p>
        <p>adresse mail : steve.paris2024@gmail.com</p>
        <p>Je vous notifie, par la présente, ma rétractation du contrat portant sur la prestation de service,
            commandée le : ..........</p>
        <p>Prénom et nom du consommateur :</p>
        <p>Adresse du consommateur :</p>
        <p>Date :</p>
        <p>Signature du consommateur
</p>

    </div>




{% endblock %}