{% extends 'base.html' %}
{% load static %}

{% block title %}
Paiement réussi
{% endblock %}

{% block content %}

    <div class="container text-center">

        <div class="text-info border border-info-subtle rounded-3 bg-light mt-4 pt-2 shadow">
            <h2 class="text-center">Paiement réussi</h2>
        </div>

        <div class="border border-info-subtle rounded-3 bg-light my-4 p-4 g-3">

                  <img src="{% static 'picture/eiffel.jpg' %}" class="card-img-top"  style="max-width:400px ;">

            <h4 class="text-success border border-info-subtle rounded-3 bg-light my-4 p-4 g-3 bg-white">Préparez-vous
                à vibrer au rythme des exploits et à vivre l'émotion pure !</h4>

        </div>

        <div class="row row-cols-1 row-cols-md-3 text-info border border-info-subtle rounded-3 bg-light m-4 pt-3 shadow">
            <p><a href="{% url 'tickets' %}" class="fw-bold btn btn-outline-success">Voir mes billets</a></p>
            <p><a href="{% url 'index-event-mgmt' %}" class="fw-bold btn btn-outline-info">Retour aux événements</a></p>
            <p><a href="{% url 'logout' %}" class="fw-bold btn btn-outline-danger">Me déconnecter</a></p>
        </div>

    </div>

{% endblock %}